.contacto{

    padding: 100px 80px;

    background-color: #0a0a0a;

    text-align: center;

    color: white;
}

.contacto h1{

    font-size: 50px;

    margin-bottom: 50px;

    color: #b7ff00;

    text-shadow:
    0 0 10px rgba(183,255,0,0.25);
}

.contact-box{

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 30px;
}

.contact-item{

    width: 500px;

    background-color: #111827;

    padding: 30px;

    border-radius: 15px;

    border: 1px solid rgba(183,255,0,0.08);

    transition: 0.3s;
}

.contact-item:hover{

    transform: translateY(-5px);

    border-color: rgba(183,255,0,0.30);

    box-shadow:
    0 0 20px rgba(183,255,0,0.08);
}

.contact-item h2{

    margin-bottom: 15px;

    color: white;
}

.contact-item p{

    color: #d1d5db;

    line-height: 1.7;
}