*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */

nav{

    position: fixed;

    font-family: fantasy;

    top: 0;
    left: 0;

    width: 100%;

    height: 85px;

    padding: 0 60px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    z-index: 1000;

    background: rgba(0, 0, 0, 0.85);

    backdrop-filter: blur(8px);

    border-bottom: none;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.35);
    transition: 0.3s;
}


/* EFECTO VERDE SUAVE */

nav::before{

    content: "";

    position: absolute;

    width: 220px;
    height: 220px;

    background:
    radial-gradient(
    rgba(183,255,0,0.10),
    transparent 70%
    );

    top: -120px;
    right: -80px;

    border-radius: 50%;

    filter: blur(60px);

    pointer-events: none;
}


/* LOGO */

.logo{

    width: 90px;

    transition: 0.3s;

    cursor: pointer;

    position: relative;

    z-index: 2;
}

.logo:hover{

    transform: scale(1.08);
}


/* CENTRO */

.nav-center{

    display: flex;

    align-items: center;

    gap: 45px;

    position: relative;

    z-index: 2;
}


/* DERECHA */

.nav-right{

    display: flex;

    align-items: center;

    gap: 25px;

    position: relative;

    z-index: 2;
}


/* LINKS */

nav a{

    position: relative;

    color: #f3f4f6;

    text-decoration: none;

    font-size: 16px;

    font-weight: 600;

    letter-spacing: 0.5px;

    transition: 0.3s;
}


/* HOVER */

nav a:hover{

    color: white;

    transform: translateY(-2px);
}


/* LINEA ANIMADA */

nav a::after{

    content: "";

    position: absolute;

    left: 0;
    bottom: -7px;

    width: 0%;

    height: 2px;

    background: #b7ff00;

    border-radius: 10px;

    transition: 0.3s;
}

nav a:hover::after{

    width: 100%;
}


/* TITULO CENTRAL */

.titulo{

    font-size: 1.7rem !important;

    font-weight: 800 !important;

    color: white !important;

    letter-spacing: 3px;

    text-shadow:
    0 0 10px rgba(183,255,0,0.45),
    0 0 25px rgba(183,255,0,0.25);
}

.titulo:hover{

    transform: scale(1.08);
}

.titulo::after{

    display: none;
}


/* BOTON REGISTRO */

.nav-right a:last-child{

    padding: 11px 22px;

    background: #b7ff00;

    border-radius: 12px;

    color: black;

    font-weight: 700;

    box-shadow:
    0 0 15px rgba(183,255,0,0.35);
}


/* HOVER BOTON */

.nav-right a:last-child:hover{

    transform: translateY(-3px);

    box-shadow:
    0 0 25px rgba(183,255,0,0.55);
}
.home{
    padding-top: 120px;
}

