footer{

    background: #ffffff;

    border-top: 1px solid #d1d5db;

    margin-top: 80px;

    padding: 50px 20px;
}

.footer-container{

    max-width: 1200px;

    margin: auto;

    text-align: center;
}

.footer-container h2{

    font-size: 34px;

    margin-bottom: 18px;

    color: #111111;

    letter-spacing: 2px;
}

.footer-container p{

    color: #4b5563;

    margin-bottom: 25px;

    line-height: 1.8;

    font-size: 17px;
}

.footer-links{

    display: flex;

    justify-content: center;

    gap: 35px;

    margin-bottom: 30px;

    flex-wrap: wrap;
}

.footer-links a{

    color: #111111;

    text-decoration: none;

    font-weight: 600;

    transition: 0.3s;

    position: relative;
}

.footer-links a::after{

    content: "";

    position: absolute;

    width: 0%;

    height: 2px;

    background: #111111;

    left: 0;

    bottom: -5px;

    transition: 0.3s;
}

.footer-links a:hover::after{

    width: 100%;
}

.copy{

    font-size: 15px;

    color: #6b7280;

    margin-top: 15px;
}