.inicio{

    position: relative;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 40px;

    background-image:url("../../assets/fondo.png");


    color: white;

    overflow: hidden;

    box-shadow:
    inset 0 0 250px rgba(0,0,0,0.95);

    animation: fondoZoom 12s ease-in-out infinite alternate;
}


/* TITULO */

.inicio h1{

    font-size: clamp(4rem, 8vw, 7rem);

    font-weight: 900;

    font-family: fantasy;


    margin-bottom: 25px;

    color: white;

    
}



/* TEXTO */

.inicio p{

    font-size: 1.35rem;

    font-weight: 300;



    color: #d1d5db;

}


